
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.site-header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(57deg, #00cde7, #1e4d92);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

nav {
    width: 100%;
    height: 100px;
    /* background: red;  */
    display: flex;
    color: white;
}

.logo {
    width: 50%;
    height: 100px;
    font-weight: bold;
}

.logo h1 {
    line-height: 100px;
    margin-left: -70px;
    text-shadow: #d61b1b;
}

.menu {
    width: 50%;
    height: 100px;

}

.menu ul {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu ul li {
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    columns: #000;
    font-size: 17px;
    position: relative;
    color: #ffffff;


    border-radius: 3px;
    background: linear-gradient(to top, #1E4D92, #00C6A7);
    padding: 1px;
    width: 100px;
    height: 100px;
}

nav a:hover {
    background: linear-gradient(57deg, #1E4D92, #00C6A7);
}

nav a:before {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #000;
    transition: all 0.4s linear;
}

nav a:hover:before {
    width: 100%;
}

section {
    display: flex;
}

.leftside {
    width: 45%;
    height: auto;
    overflow: hidden;
    margin-top: 50px;
}

.leftside img {
    width: 400px;
    height: auto;
    margin: 40px 80px;
}

/* .rightside img{width:55%; height:300px; color:white; text-align:center;
margin-top:10px; padding:100px;} */

.rightside h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 85px;
    margin-left: 45px;
    font-size: 35px;
    font-weight: 850;
    text-transform: uppercase;
}

.rightside button {
    font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, #00C6A7, #1E4D92);
    border-radius: 88px 88px 88px 88px;
    padding: 15px 25px;
    margin-left: 250px;
}

.rightside button:hover {
    background: linear-gradient(57deg, #1E4D92, #00C6A7);

}

.rightside P {
    font-size: 1rem;
    padding: 5px 120px;
    color: #ffffff;
    margin-left: 50px;
}

footer {
    background: rgb(197, 222, 228);

}

.bottom-p {
    margin-left: 35%;
}
.marque {
    width: 100%;
    height: 20px;
    background: linear-gradient(57deg, #00cde7, #1e4d92);
    
    padding: 1px;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: antiquewhite;
    animation: aagepiche 7s linear infinite;
    animation-direction: alternate;
}

@keyframes aagepiche {
    from {
        padding-left: 160px;
    }

    to {
        padding-right: 100px;
    }
}
.sagelogo img {
    width: 65%;
    height: auto;
    overflow: hidden;
    padding: 12px 25px;
}

main {
    height: 80vh;
    display: flex;
    justify-content: center;
}
